.messageError {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    text-align: center;
    color: #ca0000;
    background: #b5848469;
    margin: 20px 55px 0;
    padding: 6px 15px;
    border-radius: 15px;
}

.messageSuccess {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    text-align: center;
    color: #2233C1;
    background: #A8EB81;
    margin: 20px 55px 0;
    padding: 6px 15px;
    border-radius: 15px;
}