<input type="hidden" name="modulo" id="modulo" value="{{user.modulo}}">

<i class="icon-menu burger-button" id="icon-burger"></i>
<header class="header">
    <div class="container">
        <div class="school">
            <p>Online Shop</p>
            <figure> <img src="/img/taks.png" alt=""></figure>
        </div>
        <nav class="menu">
            <ol>
                <div id="output"></div>
            </ol>
        </nav>
    </div>
</header>