<input type="hidden" name="modulo" id="moduloUser" value="{{user.modulo}}">

<section class="registro-data">
    <div class="state"><a href="/usuario"><i class="icon-arrow-left2 positionIcon"></i></a>REGISTRO DE USUARIOS</div>
    <div class="data">
        <form action="/usuario/add" method="post">
            <div class="data-valor1">
                <p class="description">Usuario: </p>
                <p><input type="text" name="usuario" value="" required pattern="[A-Za-z0-9]+" title="Ingrese solo letras Mayúsculas, minúsculas y números sin espacios"></p>
            </div>
            <div class="data-valor2">
                <p class="description">Contraseña: </p>
                <p><input type="password" name="password" value="" required></p>
            </div>
            <div class="data-valor3">
                <p class="description">Confirmar Contraseña: </p>
                <p><input type="password" name="password2" value="" required></p>
            </div>

            <div class="data-valor4" id="outputUser"></div>
            
            <div class="data-boton">
                <p class="boton"><button type="submit">Registrar</button></p>
            </div>

            {{#if message }}
            <div class="messageError">{{ message }}</div>
            {{/if}}

            {{#if success }}
            <div class="messageSuccess">{{ success }}</div>
            {{/if}}
        </form>
    </div>
</section>